parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 5
    bootstrapFiles:
        - ../../stubs/glpi_constants.php
        - ../../vendor/autoload.php
        - setup.php
    paths:
        - ajax
        - inc
    scanDirectories:
        - ../../inc
        - ../../src
