includes:
    - ../../vendor/glpi-project/phpstan-glpi/extension.neon
    - ../../vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ../../vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 5
    bootstrapFiles:
        - ../../stubs/glpi_constants.php
        - ../../vendor/autoload.php
        - stubs/glpiinventory_constants.php
        - setup.php
    treatPhpDocTypesAsCertain: false
    paths:
        - ajax
        - front
        - inc
        - src
        - install
        - public
        - report
        - hook.php
        - setup.php
    scanDirectories:
        - ../../inc
        - ../../src
    dynamicConstantNames:
        - PLUGIN_GLPIINVENTORY_VERSION
        - PLUGIN_GLPI_INVENTORY_GLPI_MIN_VERSION
        - PLUGIN_GLPI_INVENTORY_GLPI_MAX_VERSION
        - PLUGIN_GLPI_INVENTORY_OFFICIAL_RELEASE
        - PLUGIN_GLPI_INVENTORY_DIR
        - PLUGIN_GLPI_INVENTORY_REPOSITORY_DIR
        - PLUGIN_GLPI_INVENTORY_MANIFESTS_DIR
        - PLUGIN_GLPI_INVENTORY_UPLOAD_DIR
        - GLPI_INSTALL_MODE
